NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=tomcat
DB_DATABASE=kpi_management

JWT_SECRET_KEY=change-me-in-production
JWT_TOKEN_EXPIRED_TIME=1d

FRONTEND_URL=http://localhost:8080

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
